.fav-cocktails-headline {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .fav-cocktails-headline {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .fav-cocktails-headline {
    margin-bottom: 44px;
  }
}

.fav-cocktails-headline-div {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .fav-cocktails-headline-div {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .gallery-for-fav {
    justify-content: flex-start;
  }
}

/* =============== NOT FOUND ================ */

.not-found-info-container-fav-cocktails {
  width: 244px;
  /* height: 190px; */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .not-found-info-container-fav-cocktails {
    width: 372px;
    margin-bottom: 40px;
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .not-found-info-container-fav-cocktails {
    margin-bottom: 40px;
  }
}
.not-found-img {
  width: 142px;
  height: 122px;
}
@media only screen and (min-width: 768px) {
  .not-found-img {
    width: 234px;
    height: 201px;
  }
}
.not-found-search-txt {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .not-found-search-txt {
    width: 372px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.not-found-search-txt-span {
  color: var(--color-turquoise, #9cdfdf);
  font-style: italic;
}

/* =========== BACKGROUND ============= */

.fav-cocktails-headline-div::after {
  width: 738.545px;
  height: 1120.72px;
  transform: rotate(-161.494deg);
  background: rgba(156, 223, 223);
  opacity: 0.8;

  content: '';
  top: -599px;
  left: -660px;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .fav-cocktails-headline-div::after {
    top: -599px;
    left: -548px;
  }
}

@media only screen and (min-width: 1280px) {
  .fav-cocktails-headline-div::after {
    top: -587px;
    left: -529px;
  }
}
