.ingredients-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.fav-ingredients-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  margin-top: 87px;
  margin-bottom: 40px;
}

.fav-ingredient-card {
  width: 335px;
  padding: 20px;
  border-radius: 20px;
  background: var(--color-background-white);
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}

.fav-ingredient-card:last-child {
  margin-bottom: 80px;
}

.fav-ingred-header {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 4px;
}

.is-alcoholic {
  color: rgba(36, 36, 36, 0.5);
  line-height: 1.28;
  margin-bottom: 14px;
}

.fav-ingred-desc {
  width: 295px;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  line-height: 1.28;
  margin-bottom: 20px;
}

.fav-ingred-btns {
  display: flex;
  gap: 15px;
}

.fav-ingred-learn-more-btn {
  width: 232px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #7e8fdd;
}

@media screen and (min-width: 768px) {
  .ingredients-gallery {
    row-gap: 32px;
    column-gap: 16px;
  }

  .fav-ingredients-title {
    margin-top: 105px;
    font-size: 40px;
    line-height: 1.2;
  }

  .fav-ingredient-card {
    width: 344px;
    height: 242px;
  }

  .fav-ingredient-card:last-child {
    margin-bottom: 100px;
  }

  .fav-ingred-header {
    font-size: 20px;
  }

  .fav-ingred-learn-more-btn {
    width: 225px;
    height: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .ingredients-gallery {
    row-gap: 44px;
    column-gap: 24px;
  }
}
/* =============== NOT FOUND ================ */

.not-found-info-container-fav-ing {
  width: 244px;
  /* height: 190px; */
  margin-bottom: 140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .not-found-info-container-fav-ing {
    width: 372px;
    gap: 40px;
  }
}
.not-found-img {
  width: 142px;
  height: 122px;
}
@media only screen and (min-width: 768px) {
  .not-found-img {
    width: 234px;
    height: 201px;
  }
}
.not-found-search-txt {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .not-found-search-txt {
    width: 372px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.not-found-search-txt-span {
  color: var(--color-turquoise, #9cdfdf);
  font-style: italic;
}
