#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  #header {
    height: 40px;
  }
}
/** ========================= Nav ========================= */
.page-nav {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .page-nav {
    display: block;
  }
}
.nav-list {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 16px;
  line-height: 1.13; /* 18px*/
  letter-spacing: 0.02em;
}
.header-fav-toggle {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.header-fav-toggle p,
.header-fav-toggle svg {
  cursor: pointer;
}
.fav-arrow__up,
.fav-arrow__down {
  stroke: var(--color-violet);
}
.fav-block {
  color: var(--color-background-white);
  background: var(--color-violet);

  min-width: 192px;
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 31px;
  left: -45px;
  z-index: 2;
  border-radius: 16px;
  transition: var(--anim-fast);
}
.fav-block .fav-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
}
.fav-block .fav-link:focus,
.fav-block .fav-link:hover {
  color: var(--color-white-transparent);
}
.close-fav-block {
  opacity: 0;
  transform: translateY(-200%);
}

.open-fav-block {
  opacity: 1;
  transform: translateY(0);
}
/** ========================= Logo ========================= */
.header-logo {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13; /* 18px */
  letter-spacing: -0.01em;
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    font-size: 22px;
    line-height: 1.09;
    width: 140px;
    height: 30px;
    gap: 8px;
  }
}
/** ========================= Buttons div ========================= */
.search-and-btns {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}
.search-input {
  width: 220px;
  height: 40px;
  padding-left: 40px;
  border-radius: 80.179px;
  border: 2px solid var(--color-violet);
  outline: transparent;
}
@media only screen and (max-width: 767px) {
  .search-input,
  .search-icon {
    display: none;
  }
}
.search-input::placeholder {
  color: var(--color-text-black-02);
}
.search-icon {
  position: absolute;
  left: 12px;
  top: 12px;
  pointer-events: none;
}
/** ========================= Toggles ========================= */
.switch-desc {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 32px;
}
@media only screen and (max-width: 1279px) {
  .switch-desc {
    display: none;
  }
}
.slider-desc {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: transparent;
  border: 2px solid var(--color-text-black);
  border-radius: 34px;
  -webkit-transition: var(--anim-mid);
  transition: var(--anim-mid);
}
input:checked + .slider-desc {
  background-color: var(--color-turquoise);
  border: 2px solid var(--color-violet);
}
input:checked + .slider-desc:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  background-color: var(--color-background-white);
}
.slider-desc:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  -webkit-transition: var(--anim-mid);
  transition: var(--anim-mid);
}
/** ====== Burger toggle ====== */
.menu-toggle {
  display: inline-block;
  width: 40px;
  height: inherit;
}
@media only screen and (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}

.burger-btn {
  stroke: var(--color-text-black);
}

/* =========== BACKGROUND ============= */

.header-container::after {
  width: 738.545px;
  height: 1120.72px;
  transform: rotate(-161.494deg);
  background: rgba(156, 223, 223);
  opacity: 0.8;

  content: '';
  top: -599px;
  left: -697px;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .header-container::after {
    top: -595px;
    left: -639px;
  }
}

@media only screen and (min-width: 1280px) {
  .header-container::after {
    top: -495px;
    left: -661px;
  }
}
