.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* .hero-img-size {
  width: 354px;
  height: 387px;
  margin: 0 auto;
} */

.not-found-hero-header {
  color: var(--black, #242424);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
}
.not-found-hero-cocktail {
  color: var(--violet, #7e8fdd);
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.19;
}
.not-found-hero-txt {
  color: #242424;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
}
.not-found-search-header {
  color: #242424;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.018em;
  text-transform: uppercase;
}
.img-bg-rect {
  border-radius: 80px 0px;
  background: var(--color-violet, #7e8fdd);
  box-shadow: 0px 28px 75px 0px rgba(88, 109, 204, 0.5);
  width: 258px;
  height: 337px;
  flex-shrink: 0;
}

.not-found-info-container {
  margin: 0 auto;
  width: 244px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.not-found-search-txt-span {
  color: var(--color-turquoise, #9cdfdf);
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

.not-found-search-txt {
  color: var(--color-text-black, #242424);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

/* ======== FROM HERO CSS ========= */
.section {
}
.hero-section {
}
.hero-container {
}
.main-title {
  max-width: 335px;
  margin-top: 75px;
  margin-bottom: 18px;
  color: #242424;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;

  line-height: 1.19;
}
.text-violet {
  color: #7e8fdd;
  font-style: italic;
}
.main-text {
  max-width: 335px;
  margin-bottom: 36px;
  color: #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
}
.search-button {
  width: 178px;
  height: 48px;
  margin-bottom: 27px;
  padding: 14px 28px;
  border-radius: 12px;
  background-color: #7e8fdd;
  text-decoration: none;

  color: #fdfdff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.hero-image-box {
  margin-bottom: 40px;
}
.hero-back-img {
  width: 230px;
  height: 338px;
  margin-top: 76px;
  margin-bottom: 40px;
  margin-left: 62px;
  margin-right: 43px;
  border-radius: 80px 0px;
  background: #7e8fdd;
  box-shadow: 0px 28px 75px 0px rgba(88, 109, 204, 0.5);
  position: relative;
}
.hero-img {
  position: absolute;
  top: 255px;
  left: 15px;
}
.hero-container .hero-search-text {
  width: 173px;
  height: 40px;
  /* margin: 40px 61px; */
  margin-left: 61px;
  margin-right: 61px;

  color: #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hero-select {
  width: 90px;
  height: 34px;
  padding: 8px 14px;
  margin: 40px 122px 80px;
  border-radius: 8px;
  background: rgba(126, 143, 221, 0.4);

  display: flex;
  gap: 33px;
  color: #fdfdff;
  border: none;
}
