.pagination-button-item-active {
  border: none;
  background-color: var(--color-turquoise, #9cdfdf);
  color: var(--color-background-white, #fdfdff);
}

@media only screen and (min-width: 320px) {
  /* .container {
    max-width: 767px;
  } */

  .pagination-buttons-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    margin-bottom: 80px;
  }

  .number-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 8px;
  }

  .pagination-button-item {
    -webkit-appearance: button;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px 0px 7px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-violet, #7e8fdd);

    color: var(--color-violet, #7e8fdd);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .pagination-button-item:hover,
  .pagination-button-item:focus,
  .pagination-button-item:active {
    border: none;
    background-color: var(--color-turquoise, #9cdfdf);
    color: var(--color-background-white, #fdfdff);
  }

  .left-pag-btn {
    margin-right: 31px;
    width: 32px;
    height: 32px;
  }

  .right-pag-btn {
    margin-left: 31px;
    width: 32px;
    height: 32px;
  }
  .page-left-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-violet, #7e8fdd);
  }

  .page-right-icon-container {
    padding-bottom: 2px;
    width: 16px;
    height: 16px;
  }

  .page-left-icon-container {
    padding-bottom: 2px;
    width: 16px;
    height: 16px;
  }

  .page-right-icon {
    width: 28px;
    height: 28px;
    fill: var(--color-violet, #7e8fdd);
  }

  .page-num-6 {
    display: none;
  }

  .page-num-7 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .pagination-buttons-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 80px;
  }

  .pagination-button-item {
    -webkit-appearance: button;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 0px 7px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-violet, #7e8fdd);

    color: var(--color-violet, #7e8fdd);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .pagination-button-item:hover,
  .pagination-button-item:focus,
  .pagination-button-item:active {
    border: none;
    background-color: var(--color-turquoise, #9cdfdf);
    color: var(--color-background-white, #fdfdff);
  }

  .pagination-button-item-active {
    border: none;
    background-color: var(--color-turquoise, #9cdfdf);
    color: var(--color-background-white, #fdfdff);
  }

  .left-pag-btn {
    margin-right: 31px;
    width: 40px;
    height: 40px;
  }

  .right-pag-btn {
    margin-left: 31px;
    width: 40px;
    height: 40px;
  }
  .page-left-icon {
    width: 18px;
    height: 18px;
    fill: var(--color-violet, #7e8fdd);
  }

  .page-right-icon-container {
    padding-bottom: 2px;
    width: 18px;
    height: 18px;
  }

  .page-left-icon-container {
    padding-bottom: 2px;
    width: 18px;
    height: 18px;
  }

  .page-right-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-violet, #7e8fdd);
  }
}

@media only screen and (min-width: 1280px) {
  /* .page-num-5 {
    display: flex;
  }

  .page-num-6 {
    display: flex;
  }

  .page-num-6 {
    display: flex;
  } */
  .pagination-buttons-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 80px;
  }

  .pagination-button-item {
    -webkit-appearance: button;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 0px 7px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-violet, #7e8fdd);

    color: var(--color-violet, #7e8fdd);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .pagination-button-item:hover,
  .pagination-button-item:focus,
  .pagination-button-item:active {
    border: none;
    background-color: var(--color-turquoise, #9cdfdf);
    color: var(--color-background-white, #fdfdff);
  }

  .left-pag-btn {
    margin-right: 31px;
    width: 28px;
    height: 28px;
  }

  .left-pag-btn {
    margin-right: 31px;
    width: 40px;
    height: 40px;
  }

  .right-pag-btn {
    margin-left: 31px;
    width: 40px;
    height: 40px;
  }
  .page-left-icon {
    width: 18px;
    height: 18px;
    fill: var(--color-violet, #7e8fdd);
  }

  .page-right-icon-container {
    padding-bottom: 2px;
    width: 18px;
    height: 18px;
  }

  .page-left-icon-container {
    padding-bottom: 2px;
    width: 18px;
    height: 18px;
  }

  .page-right-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-violet, #7e8fdd);
  }
}
