@media only screen and (min-width: 320px) {
  .change {
    color: var(--color-text-black, #242424);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17; /* 116.667% */
    margin-bottom: 40px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    row-gap: 20px;
    justify-content: center;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .change {
    color: var(--color-text-black, #242424);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    margin-bottom: 40px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    row-gap: 32px;
    column-gap: 16px;
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .change {
    color: var(--color-text-black, #242424);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    margin-left: 68px;
    margin-bottom: 44px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    row-gap: 44px;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 100px;
  }
}

/* =========== NOT FOUND ============ */

.not-found-info-container {
  width: 244px;
  /* height: 189px; */
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .not-found-info-container {
    max-width: 370px;
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .not-found-info-container {
    margin-bottom: 140px;
  }
}
.not-found-img {
  width: 142px;
  height: 122px;
}
@media only screen and (min-width: 768px) {
  .not-found-img {
    width: 234px;
    height: 201px;
  }
}
.not-found-search-txt {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .not-found-search-txt {
    font-size: 24px;
    line-height: 1.17;
  }
}
.not-found-search-txt-span {
  color: var(--color-turquoise, #9cdfdf);
  font-style: italic;
}

/* =========== BACKGROUND ============= */
.search-container {
  overflow: hidden;
}

.search-container::after {
  width: 738.545px;
  height: 1120.72px;
  transform: rotate(-157.904deg);
  background: rgba(156, 223, 223);
  opacity: 0.5;

  content: '';
  top: 1907px;
  right: -642px;

  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
  display: block;
}

@media only screen and (min-width: 768px) {
  .search-container::after {
    top: 1873px;
    right: -572px;
  }
}

@media only screen and (min-width: 1280px) {
  .search-container::after {
    top: 1321px;
    right: -438px;
  }
}

.search-container::before {
  width: 738.545px;
  height: 1120.72px;
  transform: rotate(-157.904deg);
  background: rgba(156, 223, 223);
  opacity: 0.5;

  content: '';
  top: 3110px;
  right: 319px;

  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;
  display: block;
}

@media only screen and (min-width: 768px) {
  .search-container::before {
    display: none;
  }
}
