<div class="backdrop-cocktail is-hidden">
  <div class="cocktail-modal">
    <button type="button" class="cocktail-modal-x-btn">
      <svg class="cocktail-modal-btn-icon" width="22" height="22">
        <use href="./img/svg/icons.svg#x-icon"></use>
      </svg>
    </button>
    <div class="cocktail-markup">
      <div class="wrapper1">
        <img class="cocktail-modal-img" src="#" alt="#cocktail-name" />
        <div class="wrapper2">
          <h3 class="cocktail-modal-header">cocktail-name</h3>
          <h3 class="modal-header modal-header-ingredients">Ingredients:</h3>
          <p class="modal-header-ingredients-subtitle">Per cocktail</p>
          <ul class="modal-ingredients-list"></ul>
        </div>
      </div>
      <h3 class="modal-header modal-header-instractions">Instructions:</h3>
      <p class="modal-instractions"></p>
      <button
        type="button"
        class="modal-to-favorite-btn add-to-fav-btn"
        data-id=""
      >
        add to favorite
      </button>
      <button
        type="button"
        class="modal-to-favorite-btn remove-from-fav-btn"
        data-id=""
      >
        remove from favorite
      </button>
    </div>
  </div>
</div>
