<div class="backdrop is-hidden">
    <div class="cocktail-modal">
    <button type="button" class="cocktail-modal-x-btn">
        <svg class="cocktail-modal-btn-icon" width="22" height="22">
            <use href="./img/svg/icons.svg#x-icon"></use>
        </svg>
    </button>
    <div class="wrapper1">
    <img class="cocktail-modal-img" src="#" alt="#cocktail-name">
    <div class="wrapper2">
    <h3 class="cocktail-header ">Acid</h3>
    <h3 class="modal-header modal-header-ingredients">Ingredients:</h3>
    <p class="modal-header-ingredients-subtitle">Per cocktail</p>
    <ul class="modal-ingredients-list">
        <li class="ingredients-list-item">
            <a class="ingredients-link" href="#">Ice</a></li>
        <li class="ingredients-list-item">
            <a class="ingredients-link" href="#">1 ounce gin</a></li>
        <li class="ingredients-list-item">
            <a class="ingredients-link" href="#">1 ounce Campari</a></li>
        <li class="ingredients-list-item">
            <a class="ingredients-link" href="#">1 ounce sweet vermouth</a></li>
        <li class="ingredients-list-item">
            <a class="ingredients-link" href="#">Garnish: orange peel</a></li>
    </ul>
    </div>
    </div>
    <h3 class="modal-header modal-header-instractions">Instractions:</h3>
    <p class="modal-instractions">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
    <button type="button" class="modal-to-favorite-btn">add to favorite</button>
    </div>
</div>