<header id="header">
  <nav class="page-nav">
    <ul class="nav-list">
      <li>Home</li>
      <li>
        Favorite
        <!-- <svg class="" width="" height="">
          <use href=""></use>
        </svg> -->
        <ul>
          <li>
            <a href="./favorite-cocktails.html">Favorite cocktails</a>
          </li>
          <li>
            <a href="./favorite-ingredients.html">Favorite ingredients</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <a href="./index.html" class="header-logo"
    >Drinkify
    <!-- <svg class="" width="" height="">
      <use href=""></use>
    </svg> -->
  </a>

  <!-- <input type="button" value="" /> -->

  <button class="menu-toggle">
    <!-- <svg class="" width="" height="">
      <use href=""></use>
    </svg> -->
  </button>
</header>
