<header id="header">
  <nav class="page-nav">
    <ul class="nav-list">
      <li>Home</li>
      <li>
        Favorite
        <!-- <svg class="" width="24" height="24">
          <use href=""></use>
        </svg> -->
        <ul>
          <li>
            <a href="./favorite-cocktails.html">Favorite cocktails</a>
          </li>
          <li>
            <a href="./favorite-ingredients.html">Favorite ingredients</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <a href="./index.html" class="header-logo"
    >Drinkify
    <!-- <svg class="" width="35" height="30">
      <use href=""></use>
    </svg> -->
  </a>

  <input
    type="text"
    value="searchQuery"
    autocomplete="off"
    placeholder="Search"
  />
  <button type="button" class="change-theme"></button>

  <button class="menu-toggle">
    <!-- <svg class="" width="" height="">
      <use href=""></use>
    </svg> -->
  </button>
</header>
