<div class="backdrop-ingred">
  <div class="ingred-modal">
    <button type="button" class="ingred-modal-x-btn">
      <svg class="ingred-modal-btn-icon" width="22" height="22">
        <use href="./img/svg/icons.svg#x-icon"></use>
      </svg>
    </button>
    <h3 class="ingred-header">Campari</h3>
    <p class="ingred-type">Liqueur</p>
    <p class="ingred-desc">
      <span class="desc-inner-title">Campari </span>is an Italian alcoholic
      liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV,
      depending on the country in which it is sold), obtained from the infusion
      of herbs and fruit (including chinotto and cascarilla) in alcohol and
      water. It is a bitters, characterised by its dark red colour.
    </p>

    <ul class="ingred-desc-list">
      <li class="desc-item">
        <p class="item-text">
          <span class="item-inner-title">Type: </span>Bitters
        </p>
      </li>
      <li class="desc-item">
        <p class="item-text">
          <span class="item-inner-title">Country of origin: </span>Italy
        </p>
      </li>
      <li class="desc-item">
        <p class="item-text">
          <span class="item-inner-title">Alcohol by volume: </span>20.5 - 28.5 %
        </p>
      </li>
      <li class="desc-item">
        <p class="item-text">
          <span class="item-inner-title">Flavour: </span>Bitter, spicy and sweet
        </p>
      </li>
    </ul>
    <button type="button" class="modal-to-favorite-btn">add to favorite</button>
  </div>
</div>
