<!-- Mobile menu -->
<div class="container menu-container" id="mobile-menu">
  <div class="mobile-header">
    <!-- первая часть хэдэра -->
    <div class="logo">
      <a href="#" class="logo-text">Drinkify</a>
      <a href="#">
        <img
          src="./img/cocktail/cocktail-lightblue@1x.png"
          alt="cocktail-logo"
          class="cocktail-logo-mobile"
        />
      </a>
    </div>
    <!-- вторая часть -->
    <div class="button-and-toggle">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <div class="button-and-icon">
        <button class="menu-button">
          <svg class="menu-icon" width="32" height="32">
            <use href="./img/svg/icons.svg#x-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- инпут -->

  <div class="input-with-icon">
    <input type="text" placeholder="Search" class="mobile-input" />
    <svg width="16" height="16" class="search-button-mobile-burger">
      <use href="./img/svg/icons.svg#search-icon"></use>
    </svg>
  </div>
  <div class="container-for-links">
    <nav>
      <ul class="list-of-links">
        <li class="home-link text-nav-main"><a href="#">Home</a></li>
        <li class="favorite-link text-nav-main">
          <a href="#"> Favorite </a>
          <button class="button-for-favorite-up is-hidden-fav">
            <svg class="arrow-down" width="12" height="6">
              <use href="./img/svg/icons.svg#chevron-down-icon"></use>
            </svg>
          </button>
          <button class="button-for-favorite-down">
            <svg class="arrow-down" width="12" height="6">
              <use href="./img/svg/icons.svg#chevron-up-icon"></use>
            </svg>
          </button>
        </li>
        <li class="test">
          <div class="fav-open-list open-fav-list">
            <ul class="list-of-links">
              <li class="fav-cock text-nav-fav">
                <a href="#">Favorite cocktails</a>
              </li>
              <li class="fav-ing text-nav-fav">
                <a href="#">Favorite ingredients</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
