<!-- Mobile menu -->
<div class="container menu-container" id="mobile-menu">
  <div class="mobile-header">
    <!-- первая часть хэдэра -->
    <div class="#">
      <a href="#"><p>Drinkify</p></a>
      <svg class="cocteile-icon" width="24" height="24"><use></use></svg>
    </div>
    <!-- вторая часть -->
    <div class="#">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <button class="menu-button">
        <svg class="menu-icon" width="24" height="24">
          <use href="#"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- инпут -->
  <input type="text" placeholder="Search" class="mobile-input" />
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li>
        <a href="#">
          Favorite<svg><use></use></svg>
        </a>
      </li>
      <li><a href="#">Favorite cocktails</a></li>
      <li><a href="#">Favorite ingredients</a></li>
    </ul>
  </nav>
</div>
