<!-- Mobile menu -->
<div class="container" id="mobile-menu">
  <div class="mobile-header">
    <!-- первая часть хэдэра -->
    <div class="">
      <a href=""><p>Drinkify</p></a>
      <svg><use></use></svg>
    </div>
    <!-- вторая часть -->
    <div class="">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <!-- инпут -->
    <input type="text" placeholder="Search" />
  </div>
  <nav>
    <ul>
      <a href=""><li>Home</li></a>
      <a href=""
        ><li>
          Favorite <svg><use></use></svg></li
      ></a>
      <a href=""><li>Favorite cocktails</li></a>
      <a href=""><li>Favorite ingredients</li></a>
    </ul>
  </nav>
</div>
