<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/layout/not-found.css" />

    <title>Document</title>
  </head>
  <body>
    <header></header>
    <section class="not-found-hero-sec">
      <h1 class="not-found-hero-header">
        A party without
        <span class="not-found-hero-cocktail">cocktails</span> is not like a
        party
      </h1>
      <p class="not-found-hero-txt">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <img src="#" alt="daw" class="not-found-hero-img" />
    </section>
    <section class="not-found-search">
      <h2 class="not-found-search-header">
        Search your favorite cocktail by ABC
      </h2>
      <form id="searchForm">
        <select>
          <option selected></option>
          <option value="1">1</option>
        </select>
      </form>
    </section>

    <footer></footer>
  </body>
</html>
