<section class="search-section" id="search">
  <div class="container search-container">
    <h1 class="change">Cocktails</h1>
    <ul class="gallery"></ul>

    <div class="not-found-info-container is-hidden">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/notfound/notfound-webp@1x.webp 1x,
            ./img/notfound/notfound-webp@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/notfound/notfound@1x.png 1x,
            ./img/notfound/notfound@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/notfound/notfound-mob-webp@1x.webp 1x,
            ./img/notfound/notfound-mob-webp@2x.webp 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/notfound/notfound-mob@1x.png 1x,
            ./img/notfound/notfound-mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="not-found-img"
          src="./img/notfound/notfound-mob@1x.png"
          alt="cocktail-img"
          loading="lazy"
        />
      </picture>
      <p class="not-found-search-txt">
        Sorry, we
        <span class="not-found-search-txt-span">didn’t find</span> any cocktail
        for you
      </p>
    </div>
  </div>
</section>
