<section class="search-section" id="search">
  <div class="container">
    <h1 class="change">Cocktails</h1>
    <ul class="gallery"></ul>
  </div>

  <div class="pagination-buttons-container container">
    <button
      class="left-scroll pagination-button-item"
      type="button"
      width="32px"
      height="32px"
      value="left"
    >
      left
    </button>
    <button class="page-num-1 pagination-button-item" type="button" value="1">
      1
    </button>
    <button class="page-num-2 pagination-button-item" type="button" value="2">
      2
    </button>
    <button class="page-num-3 pagination-button-item" type="button" value="3">
      3
    </button>
    <button class="page-num-4 pagination-button-item" type="button" value="4">
      4
    </button>
    <button class="page-num-5 pagination-button-item" type="button" value="5">
      5
    </button>
    <button class="page-num-6 pagination-button-item" type="button" value="6">
      6
    </button>
    <button class="page-num-7 pagination-button-item" type="button" value="7">
      7
    </button>
    <button
      class="right-scroll pagination-button-item"
      type="button"
      value="right"
    >
      right
    </button>
  </div>
</section>
