<section class="search-section" id="search">
  <div class="container">
    <h1 class="change">Cocktails</h1>
    <ul class="gallery"></ul>
  </div>

  <div class="pagination-buttons-container container">
    <button
      class="left-pag-btn pagination-button-item"
      type="button"
      value="left"
    >
      <svg>
        <use class="page-left-icon" href="./img/svg/icons.svg#page-left"></use>
      </svg>
    </button>
    <button class="page-num-1 pagination-button-item" type="button" value="1">
      1
    </button>
    <button class="page-num-2 pagination-button-item" type="button" value="2">
      2
    </button>
    <button class="page-num-3 pagination-button-item" type="button" value="3">
      3
    </button>
    <button class="page-num-4 pagination-button-item" type="button" value="4">
      ...
    </button>
    <button class="page-num-5 pagination-button-item" type="button" value="5">
      5
    </button>
    <button class="page-num-6 pagination-button-item" type="button" value="6">
      6
    </button>
    <button class="page-num-7 pagination-button-item" type="button" value="7">
      7
    </button>
    <button
      class="right-pag-btn pagination-button-item"
      type="button"
      value="right"
    >
      <svg class="page-right-icon-container">
        <use
          class="page-right-icon"
          href="./img/svg/icons.svg#page-right"
        ></use>
      </svg>
    </button>
  </div>
</section>
